body{
background: linear-gradient(to right,#1e3c72,#2a5298);


}
.sibirskaya-yasva{
width: 67px;
display: flex;
position: fixed;

}
h1{
text-align: center;
color: #ffd700;

}

.card{

text-align: center;
padding: 10px;
padding-bottom: 20px;
border: 5px solid grey;
border-radius: 21px;
width: 300px;
background-color: white;
color:  black;
}
.zamoviti{
    width: 250px;
    padding: 20px;
    background-color: #ffd700;
    border: 3px #b49703;
    border-radius: 25px;
    text-decoration: none;
    font-family: Arial;
    
}
.zamoviti a{
text-decoration: none;
color: #1e3c72;
font-size: 30px;
}
.zamoviti a:hover{
color: #2a5298;

}
.product{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.nav-link {
    color: white;
    text-decoration: none; 
    font-weight: bold;
}

.nav-link:hover {
    color: #ffd700;
}
